body{
font-family: Verdana;
background:url('../imagenes/rosa.jpeg');
background-repeat:repeat;

.enlace2{
background: pink;
width:80%;
margin:20px 80px;
padding: 10px 20px;
border-radius: 40px;
}

.contenedor{
background: blue;
width: 80%;
margin: auto;
}

header{
height:300px;
background-image: url("../imagenes/principales.jpeg");
background-position: center;
background-size: cover;
}

main{
background: skyblue;
padding: 20px 30px;
}